# Advanced Objects and Data Structures

## Advanced Numbers

### Hexadecimal

### Converting ordinary numbers to hexadecimal numbers `hex()`

We use the `hex(ordinary_number)`


### Converting ordinary numbers to binary numbers `bin()`

We use the `bin(ordinary_number)`

### Funtion for powers

In [1]:
2 ** 4

16

In [2]:
# Another way is using the pow() function

pow(2,4)

16

### Function for absolute value `abs( )`

In [3]:
abs(-1000)

1000

### Function for rounding a number 
### `round(number,no_of decimal_places)`

In [4]:
round(3.8)

4

In [6]:
# adding a decimal place
round(3.141592,2)

3.14

## Advanced Strings

In [8]:
s = "hello World"

# Using capitalize() - capitalizes the first word in a string
s.capitalize()

'Hello world'

In [10]:
# Using .upper() capitalized all letters in a string

s.upper()

'HELLO WORLD'

### `isalnum()` , `isalpha()`, `islower()`, `isupper()`

In [13]:
# isalnum() checks whether a string contains alphanumeric characters

b = "hello1"
b.isalnum()

True

In [27]:
# isalpha() checks whether a string contains only alphabets

b = "hello1345"
b.isalpha()

False

In [28]:
# islower() checks whether all string characters are lower case 

c = "hello"

In [29]:
c.islower()

True

In [30]:
# isupper() checks whether all string characters are upper case 

c.isupper()

False

### `endswith('character')`

In [31]:
# endswith() checks whether the last character ends with a 
# specified character

d = "Jerome"

d.endswith("e")

True

In [32]:
# The code below does the same thing

d[-1] == "e"

True

### `split('some_character')` - splits string at a certain element and returns a list of the result,  (it splits at every occurrence of the character")

In [33]:
d.split("o")

['Jer', 'me']

In [34]:
# NB: It splits at every occurrence of the character
e = "hiihhihihihih"
e.split("i")

['h', '', 'hh', 'h', 'h', 'h', 'h']

In [36]:
# Can be used to split words in a sentence
e = "My name is Jerome"

# A space is also a character
e.split(" ")

['My', 'name', 'is', 'Jerome']

## Advanced Sets

### `clear()` - clears items in a set
### `copy()` - copies an existing set
### `difference()` - checks the difference in items between two sets
### `discard()` - removes items in a set